header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
header .logo {
    height: 100px;
    padding-right: 50px;
}
header nav {
    display: flex;
}
header nav h2 {
    box-sizing: border-box;
    padding: 21px 0;
    width: 132px;
    font-size: 20px;
    text-align: center;
}
header .navbar-socials {
    display: flex;
    padding-left: 20px;
}
header .navbar-socials img {
    height: 32px;
    width: 32px;
}