.backdrop-title {
    background-image: url("/assets/images/GangShow/GangShow2022/IMG_1451.jpg");
    height: 100%;
}
.void-title {
    height: 90vh;
    top: -90vh;
}
.section-home {
    margin-top: 90vh;
    height: auto;
}