.backdrop-title {
    background-image: url("/assets/images/GangShow/GangShow2022/IMG_1451.jpg");
    height: 150%;
}
.void-title {
    height: 130vh;
    top: -130vh;
}
.section-home {
    margin-top: 130vh;
    height: auto;
}

/* Home */
.cards-container {
    width: 900px;
    height: 500px;
    position: absolute;
    top: -250px;
    background-color: black;
}
.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-home {
    padding-top: 350px;
}