.backdrop-title {
    background-image: url("/assets/images/GangShow/GangShow2022/IMG_1451.jpg");
    height: 120%;
}
.void-title {
    height: 110vh;
    top: -110vh;
}
.section-home {
    margin-top: 110vh;
    height: auto;
}

/* Home */
.void-title h1 {
    color: #fbda03;
}
.void-title h2 {
    color: #12296c;
    padding-bottom: 100px;
}
.transition {
    aspect-ratio: 8.79 / 1;
    height: 180px;
    position: absolute;
    top: -170px;
    left: -10px;
}